name: test
on:
  push: { branches: [main] }
  pull_request: { branches: [main] }
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache: false
      - run: make check
        env: { SKIP_LINT: true }
      - uses: golangci/golangci-lint-action@v8
        with: { version: "latest" }
      - run: make cov
      - uses: codecov/codecov-action@v5
        env: { CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}" }
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        go-version: ["1.23", "1.24", "1.25"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - run: make test
